In [38]:
import pandas as pd
import numpy as np
from scipy import sparse

In [57]:
df = pd.read_table('/Users/jaredlorince/Desktop/5759068.txt',header=None,names=['song','artist','ts'])

In [58]:
df['last'] = df['artist'].shift(1)
df.set_value(0,'last',10000);

In [59]:
df.head()

       song  artist                   ts     last
0      3623     405  2007-02-24 22:54:28  10000.0
1     74220   11337  2007-02-24 22:59:07    405.0
2     64735    4536  2007-02-24 23:01:54  11337.0
3   2021815   42105  2007-02-25 01:55:39   4536.0
4  39064541    3014  2007-02-25 02:00:36  42105.0

In [10]:
df['transition'] = df.apply(lambda row: (int(row['last']),row['artist']),axis=1)

In [60]:
df.song.shift?

In [23]:
vc = df['transition'].value_counts()
i,j = zip(*vc.index.values)

In [24]:
mat = sparse.csr_matrix((vc.values,(i,j)))

In [25]:
mat

<39065015x39065015 sparse matrix of type '<type 'numpy.int64'>'
	with 18739 stored elements in Compressed Sparse Row format>

In [48]:
# def 
# df.apply(lambda row: (row['last'],row['artist']) ,axis=1)
df.set_value?

In [61]:
sparse.csr_matrix?