In [15]:
import pandas as pd
from scipy import sparse

In [2]:
df = pd.read_table('/Users/jaredlorince/Desktop/5759068.txt',header=None,names=['song','artist','ts'])

In [9]:
df['last'] = df['artist'].shift(1)
df = df.dropna()

In [10]:
df['transition'] = df.apply(lambda row: (int(row['last']),row['artist']),axis=1)

In [23]:
vc = df['transition'].value_counts()
i,j = zip(*vc.index.values)

In [24]:
mat = sparse.csr_matrix((vc.values,(i,j)))

In [25]:
mat

<39065015x39065015 sparse matrix of type '<type 'numpy.int64'>'
	with 18739 stored elements in Compressed Sparse Row format>

In [36]:
df.head()

       song  artist                   ts     last     transition
1     74220   11337  2007-02-24 22:59:07    405.0   (405, 11337)
2     64735    4536  2007-02-24 23:01:54  11337.0  (11337, 4536)
3   2021815   42105  2007-02-25 01:55:39   4536.0  (4536, 42105)
4  39064541    3014  2007-02-25 02:00:36  42105.0  (42105, 3014)
5     16973    1996  2007-02-25 02:03:25   3014.0   (3014, 1996)